.background-color {
  background-color: #cef1ff !important;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-shadow {
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 10%) !important;
}

.custom-table tr:hover {
  background-color: #BBDEFB; /* Set your desired hover background color */
}